.card {
    border: 1px solid var(--background-accent);
    border-radius: 4px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    flex-wrap: wrap;
}

.switch {
    margin-left: auto;
}

.info {
    align-self: flex-start;
}

.eyebrow {
    margin-bottom: 0px !important;
}
.btn {
    border: none;
    background: none;
    color: var(--interactive-active);

    transition: opacity 250ms;

    &:hover {
        color: var(--interactive-hover);
    }
}

.icon {
    height: 20px;
    margin-top: 2px;
    filter: brightness(0) invert(1);
}
.mainInfo {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
    margin-bottom: -0.5em;
    display: flex;
}
