* {
    outline: none;
}
[class^="socialLinks-"] + [class^="info-"] {
    padding-right: 0;
}
#ac-ver {
    text-transform: none;
    cursor: pointer;
    color: var(--text-muted);
}

div:has(:has(:has([data-list-item-id="guildsnav___app-download-button"]))) {
    display: none !important;
}

/* custom keybinds are not supported on web information */
.container__6436f.info__6436f.browserNotice__740f2 {
    visibility: hidden;
    display: block !important;
}
.container__6436f.info__6436f.browserNotice__740f2:after {
    content: "You can modify global keybinds using the keybind maker on the left sidebar";
    visibility: visible;
}
