a[href="https://support.discord.com"] {
    margin-right: 150px;
}

.titlebar {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    height: 36px;
    line-height: 30px;
    -webkit-app-region: drag !important;
    user-select: none;
    background-color: var(--background-base-lowest);
    -webkit-user-select: none;
    position: fixed;
    z-index: 99999;
}

.window-title {
    content: url("legcord://assets/Wordmark.png");
    height: 15px;
    margin-left: initial;
    transform: translate(9px, 9px);
    float: left;
    padding: 0;
    filter: invert(30%);
}

/* Legcord on Windows */
[legcord-platform="win32"] #window-controls-container {
    width: 142px;
}
[legcord-platform="win32"] #window-controls-container #minimize:hover {
    background-color: var(--background-modifier-hover);
    transition: 0.2s ease;
}
[legcord-platform="win32"] #window-controls-container #maximize:hover {
    background-color: var(--background-modifier-hover);
    transition: 0.2s ease;
}
[legcord-platform="win32"] #window-controls-container #minimize:hover #minimize-icon {
    background-color: var(--interactive-hover);
    transition: 0.2s ease;
}
[legcord-platform="win32"] #window-controls-container #maximize:hover #maximize-icon {
    background-color: var(--interactive-hover);
    transition: 0.2s ease;
}
[legcord-platform="win32"] #window-controls-container #quit:hover {
    background-color: #e81123;
    transition: 0.2s ease;
}
[legcord-platform="win32"] #window-controls-container #quit:hover #quit-icon {
    background-color: #ffffff;
    transition: 0.1s ease;
}
[legcord-platform="win32"] #window-controls-container #minimize {
    background-color: transparent;
    transition: 0.1s ease;
}
[legcord-platform="win32"] #window-controls-container #maximize {
    background-color: transparent;
    transition: 0.1s ease;
}
[legcord-platform="win32"] #window-controls-container #quit {
    background-color: transparent;
    transition: 0.1s ease;
}
[legcord-platform="win32"] #window-controls-container #quit:active {
    background-color: #f1707a;
    transition: 0.1s ease;
}
[legcord-platform="win32"] #window-controls-container #quit:active #quit-icon {
    background-color: #000000cc;
    transition: 0.1s ease;
}
[legcord-platform="win32"] #window-controls-container #quit-icon {
    background-color: var(--interactive-normal);
    display: list-item;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
}
[legcord-platform="win32"] #window-controls-container #minimize-icon {
    background-color: var(--interactive-normal);
    display: list-item;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
}
[legcord-platform="win32"] #window-controls-container #maximize-icon {
    background-color: var(--interactive-normal);
    display: list-item;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='%23000'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
}

[legcord-platform="win32"][isMaximized] #window-controls-container #maximize-icon {
    background-color: var(--interactive-normal);
    display: list-item;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='11' height='11'%3E%3Cstyle%3E%3C/style%3E%3Cpath fill-rule='evenodd' d='m6 0h24v24h-6v6h-24v-24h6zm3 6h15v15h3v-18h-18zm-6 21h18v-18h-18z'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='11' height='11'%3E%3Cstyle%3E%3C/style%3E%3Cpath fill-rule='evenodd' d='m6 0h24v24h-6v6h-24v-24h6zm3 6h15v15h3v-18h-18zm-6 21h18v-18h-18z'/%3E%3C/svg%3E")
        no-repeat 50% 50%;
}
#window-controls-container {
    float: right;
    display: flex;
    height: 100%;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 99999999;
    line-height: 36px;
    -webkit-app-region: no-drag;
}

#window-controls-container #minimize,
#window-controls-container #maximize,
#window-controls-container #quit {
    float: left;
    height: 100%;
    width: 33.3%;
    text-align: center;
    color: var(--interactive-normal);
    cursor: default;
}
